.WORK/
alib-*/
data/
olddata/
newdata/
out/
syn/
tmp/
paperdata/
!paperdata/*/
paperdata/*/**
!paperdata/*/summary.csv
__pycache__/
*.pyc
*.bak
generic_components/rtl/genus.cmd*
generic_components/rtl/genus.log*
command.log
default.svf
error*.txt
